.categories{
    display: flex;
    justify-content:center;
    padding: 2vh 2vw 2vh 2vw;
    gap: 3vw;
    background-color: #fafafa6f;
}

@media (max-width: 500px) {
    .categories{
        flex-flow: column wrap;
    }
}