
// Je souhaite laisser toujours apparent mon menu et les choix de classement
.sticky{
    position: sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 1;
}

.results{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #FAFAFA;
}
