.app{
    padding-left: 1vw;
    padding-right: 1vw;
}

.sticky{
    position: sticky;
}

.results{
    display: flex;
    flex-flow: row wrap;

    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
}