.result{
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.result_presentation{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.result_presentation_rank{
    font-weight: 300;
    font-size: large;
}

.result_image{
    width: 25%;
    display: flex;
}

.result_title{
    padding-bottom: 1rem;
}

.evolution-green{
    color:#27AE60;
}

.evolution-red{
    color: #C0392B;
}

.evolution-null{
    color: #212121;
}
